<p id="notice"><%= notice %></p>

<h1>Одержать сто побед в ста битвах — это не вершина воинского искусства.</h1>
<h1>Повергнуть врага без сражения — вот вершина.</h1>
<h2></h2>
<h2>Сунь Цзы</h2>
<h2></h2>
<h2></h2>
<h2>Данное приложение сделал Воробьв Александр, в рамках обучения RoR на курсах http://goodprogrammer.ru</h2>

<img src="my_ror.jpg" alt="Преободряющая картинка">

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

</table>

<br>
